.hero {
    width: 100%;
    height: 100vh;
    min-height: 800px;
    background: var(--background-gradient-dark);
    transition: background 0.5s ease;
    /* Smooth transition */

}

/* Light theme for the hero section */
.hero.light-theme {
    background: #F8F8F8;
    /* Light theme background */
}

.hero__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.hero__name {
    position: absolute;
    left: 68px;
    top: 200px;
}

.hero__name__big {
    font-size: 60px;
    font-weight: 500;
    line-height: 82px;
    letter-spacing: -0.03em;
    text-align: left;
    color: var(--white);
    transition: color 0.5s ease;
    /* Smooth transition */

}

/* Light theme color for .hero__name__big */
.hero.light-theme .hero__name__big {
    color: #3F3F3F;
}

.hero__name__small {
    color: var(--text-dark);
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    text-align: left;
    max-width: 523px;
    margin-top: 38px;
    transition: color 0.5s ease;
}

/* Light theme color for .hero__name__small */
.hero.light-theme .hero__name__small {
    color: #3F3F3F;
}

.hero__button {}

.hero__button button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background: var(--background-gradient-red-button);
    width: 285px;
    height: 64px;
    margin-top: 52px;
    border-radius: var(--button-radius);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;

}

.hero__statistics {
    position: absolute;

    bottom: 56px;

    width: 391px;
    height: 110px;
    left: 68px;


    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__statistics__element {
    width: 110px;
    height: 100%;
}

.hero__statistics__element span {
    color: var(--basic-red);
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
}

.hero__statistics__element-number {

    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
    color: var(--white);
    transition: color 0.5s ease;
}

.hero.light-theme .hero__statistics__element-number {
    color: #3F3F3F;
}


.hero__statstics__element_desc {
    color: var(--text-dark);
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    transition: color 0.5s ease;
}

/* Light theme color for .hero__statstics__element_desc */
.hero.light-theme .hero__statstics__element_desc {
    color: #3F3F3F;
}

.hero__logo {
    position: absolute;
    z-index: 300;
    bottom: 0;
    right: 0;
    height: 166px;
    width: 745px;
    border-radius: 50px 0px 0px 0px;
    background: var(--background-gradient-red);

    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__logo__name {
    position: relative;
    width: 238px;
    height: 72px;

    margin-top: 20px;
}

.hero__logo__name p {

    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    text-align: left;
    color: var(--white);
}

.hero__logo__name img {
    position: absolute;
    right: -20px;
    top: -20px;
}

.hero__logo__desc {
    height: 93px;
    width: 333px;
    color: var(--white);

    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;

}

.hero__backgroud {
    position: absolute;
    z-index: 200;
    width: 662px;
    height: 662px;
    right: 0px;
    bottom: 140px;
}






/*****Clinets*******/
.clients {
    width: 100%;
    height: 229px;
    background-color: #fff;
}




/*****Services*******/
.services {
    width: 100%;
    min-height: 926px;
    background: var(--background-gradient-dark);
}


.services__container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 75px;
}

.services__name__desc {
    height: 138px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__main-name {
    width: 305px;
    font-size: 46px;
    font-weight: 600;
    line-height: 69px;
    text-align: left;
    color: #fff;

}

.services__desc {
    width: 561px;
    color: var(--text-dark);
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
    text-align: left;

}

.services__wrapper {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;

}

.services__element {
    width: 368px;
    height: 515px;

}



.services__image {
    width: 100%;
    height: 283px;
    border: 10px solid #fff;
    border-radius: var(--button-radius);
}

.services__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services__name {
    margin-top: 38px;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    text-align: left;

}

.servies__desc {
    color: var(--text-dark);
    font-size: 18px;
    font-weight: 500;
    line-height: 37px;
    text-align: left;
    margin-top: 37px;
}

/* Light theme for services section */
.services.light-theme {
    background: linear-gradient(219.84deg, #FFFFFF 4.14%, #CBCBCB 82.76%);
}

.services.light-theme .services__desc,
.services.light-theme .servies__desc {
    color: #000;
    /* Dark text for description in light theme */
}

.services.light-theme .services__main-name,
.services.light-theme .services__name {
    color: #3F3F3F;
    /* Dark gray color for main name and service name */
}









/**********what makes us different***********/
.different {
    width: 100%;
    min-height: 770px;
    background-color: var(--basic-background-grey);
    position: relative;
    overflow: hidden;
}

.different__absolute__image {
    position: absolute;
    left: 0;
    top: -140px;
}

.different__container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 166px;
}

.different__name__desc {
    height: 138px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.different__name {
    position: relative;
    width: 335px;

}

.different__line {
    position: absolute;
    top: -20px;
    width: 105px;
    height: 9px;
    background: var(--background-gradient-red-line);
}

.different__name__text {
    color: var(--white);
    font-size: 46px;
    font-weight: 600;
    line-height: 69px;
    text-align: left;


}

.different__desc {
    color: var(--text-dark);
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
    text-align: left;
    width: 561px;
}

.different__wrapper {
    margin-top: 34px;
    width: 1200px;
    display: flex;
    justify-content: space-between;

}

.different__element {
    width: 263px;
    height: 409px;

}

.different__element__wrapper {
    width: 100%;
    height: 100%;

}

.different__element__image {
    width: 100%;
    height: 155px;

}

.different__image__container {
    width: 155px;
    height: 156px;
    position: relative;


}

.different_placeholder {
    position: absolute;
    left: -42px;
    z-index: 200;
}

.different_placeholder-img {
    position: absolute;
    z-index: 300;
    left: 16.5px;
    top: 56px;
    width: 38px;
    height: 38px;
}

.different__element:nth-child(2) .different_placeholder-img {
    left: 13.5px;
    top: 60px;
}

.different__element:nth-child(3) .different_placeholder-img {
    left: 17px;
    top: 59px;
}

.different_placeholder {}

.different__element__name {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;

}

.different__element__desc {
    margin-top: 24px;
    color: var(--text-dark);
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
    text-align: left;


}

/* Light theme for different section */
.different.light-theme {
    background-color: #fff;
}

.different.light-theme .different__name__text {
    color: #3F3F3F;
}

.different.light-theme .different__desc,
.different.light-theme .different__element__desc {
    color: #000;
}

.different.light-theme .different__element__name {
    color: #3F3F3F;
}



/*********STORY WHO WE ARE**************/
.story {
    width: 100%;
    height: 640px;
    background-color: var(--basic-background-grey);
    position: relative;
    overflow: hidden;
}

.story__container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.story__desc {
    width: 551px;
}

.story__desc__name {
    color: #fff;
    font-size: 46px;
    font-weight: 600;
    line-height: 69px;
    text-align: left;
    margin-bottom: 24px;
    max-width: 275px;


}

.story__desc__text {
    color: var(--text-dark);
    font-size: 18px;
    font-weight: 500;
    line-height: 33px;
    text-align: left;

}

.story__desc__button {
    margin-top: 49px;


}

.story__desc__button button {
    width: 181px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: var(--background-gradient-red-button);
    border-radius: var(--button-radius);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;


}


.story__image {
    width: 575px;
    height: 470px;
    border: 10px solid #fff;
    border-radius: 50px;
    box-shadow: 0px 10px 15px 0px #9797971F;

}

.story__image img {
    width: 100%;
    height: 100%;
    border-radius: 39px;
    object-fit: cover;
}



.story__absolute__image {
    position: absolute;
    left: calc(472px);
    bottom: -140px;
}

/********* Light Theme for Story Section **************/
.story.light-theme {
    background-color: #fff;
    /* New background color */
}

.story.light-theme .story__desc__name {
    color: #3F3F3F;
    /* Updated text color */
}

.story.light-theme .story__desc__text {
    color: #000;
    /* Updated text color */
}

.story.light-theme .story__image {
    border-color: #3F3F3F;
    /* Updated border color */
}




/********Our projects **********/
.projects {
    min-height: 660px;
    background-color: #3F3F3F;
}



/********Our offers **********/

.offers {
    min-height: 1270px;
    background-color: #3F3F3F;
    border-top: 2px solid red;
}



/******contact with us*********/
.contact {
    min-height: 673px;
    background-color: #3F3F3F;

}

.contact__container {
    width: 100%;
    height: 673px;
    background-color: #fff;
    position: relative;
}

.contact__form {
    width: 1064px;
    height: 566px;
    border-radius: 50px;
    background: var(--background-gradient-dark);
    position: absolute;
    left: calc(50% - 532px);
    top: -217px;
}

.contact__form form {
    width: 100%;
    height: 100%;
    padding: 41px 0px 22px 0px;
    display: flex;
    width: 592px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
}

.contact__form__name {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;

}

.contact__form__desc {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 15px;
}

.contact__form__wrapper {
    width: 100%;
}

.contact__form__inputs {
    display: flex;
    justify-content: space-between;
    height: 47px;
    width: 100%;

    margin-bottom: 14px;
}

.contact__form__inputs input {
    width: 280px;
    height: 100%;
    border-radius: var(--button-radius);
    padding: 10px 8px;

    color: #3F3F3F;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    resize: none;
}

.contact__form__inputs input::placeholder {
    color: #A3AAC2;
    opacity: 1;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}





















.custom-select {
    position: relative;
    width: 280px;
    cursor: pointer;
    border-radius: var(--button-radius);
    padding: 10px;
    background: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-select .selected-option {
    font-size: 18px;
    font-weight: 400;
    color: #A3AAC2;
}

.custom-select .select-arrow {
    font-size: 20px;
    color: #fff;
    transition: transform 0.3s ease;
    background: var(--background-gradient-red);
    width: 18.6px;
    height: 18.6px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Rotate arrow when dropdown is active */
.custom-select.active .select-arrow {
    transform: rotate(180deg);
}

.custom-select .dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: var(--button-radius);
    overflow: hidden;
    z-index: 10;
}

.custom-select .dropdown-options li {
    padding: 10px;
    font-size: 16px;
    color: #292E3D;
    cursor: pointer;

}

.custom-select .dropdown-options li:hover{
    background: var(--background-gradient-red);
    color: #fff;
}

.custom-select .dropdown-options li:hover {
    background-color: #e3e3e3;
}



































.contact__form__message {
    width: 100%;
    height: 135px;

}

.contact__form__message textarea {
    width: 100%;
    height: 100%;
    border-radius: var(--button-radius);
    padding: 10px 8px;

    color: #3F3F3F;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    resize: none;
}

.contact__form__message textarea::placeholder {
    color: #A3AAC2;
    opacity: 1;
    /* Firefox */

    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;

}

.contact__form__indicates {
    height: 24px;
    margin-top: 8px;
    margin-bottom: 23px;
    text-align: left;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #fff;
}

.contact__form__indicates span {
    color: var(--basic-red);
}

.contact__form__submit {
    height: 53px;
    text-align: center;
}

.contact__form__submit button {
    width: 271px;
    height: 53px;
    border-radius: var(--button-radius);
    background: var(--background-gradient-red-button);
    font-size: 18px;
    font-weight: 600;
    line-height: 21.11px;
    text-align: center;
    color: #fff;

}

.contact__information {
    width: 1064px;
    height: 320px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 542px);
}

.contact__information__wrapper {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.contact__information__data {}

.contact__information_container {
    display: flex;
    height: 32px;
    align-items: center;
    margin-bottom: 20px;
}

.contact__information__desc {

    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: var(--basic-red);
    width: 92px;
}

.contact__information__value {

font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;
color:  #292E3D;
}

.contact__information_container-social {
    display: flex;
    height: 42px;
    align-items: center;

}
.contact__information__social{
    display: flex;
}
.contact__information__social a {
display: flex;
align-items: center;
justify-content: center;
height: 40px;
width: 40px;
border-radius: 40px;
margin-right: 20px;
background: var(--background-gradient-red);
color: #fff;
font-size: 20px;
}
.contact__information__social a:hover {
    background: var(--background-gradient-dark);
}
.fa {}

.fa-facebook {}

.fa-linkedin {}

.fa-telegram {}

.fa-whatsapp {}

.fa-twitter {}

.contact__navigation {
    display: flex;
    align-items: center;
    margin-right: 75px;
}
.contact_navigation-icon {
   display: flex;
   align-items: center;
}
.contact_navigation-icon-line{
    width: 3px;
    height: 255px;
    background: var(--background-gradient-red-line);
}
.contact__navigation-values {
    display: flex;
    flex-direction: column;
}
.contact__navigation-values  button {
    background-color: rgba(0, 0, 0, 0);
    font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 30px;
text-align: left;
margin-left: 48px;
margin-bottom: 7px;
color: #000;
}
.contact__navigation-values  button:hover {
     color: var(--basic-red);
}
/***********Footer styles***************/
.footer {
    width: 100%;
    height: 97px;


}

.footer__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 77px;
    align-items: center;
    background-color: #3F3F3F;
}

.footer__created__by {
    height: 48px;
    width: 164px;

}

.footer__created__by img {
    width: 100%;
    object-fit: cover;

}

.footer__copyright {

    font-size: 14px;
    font-weight: 800;
    line-height: 21px;
    text-align: left;
    color: #ffffff;

}

@media only screen and (max-width: 1610px) {
    .hero__name {
        top: 165px;
    }

    .hero__name__big {
        font-size: 47px;
        line-height: 69px;
    }

    .hero__name__small {
        font-size: 26px;
        font-weight: 500;
        line-height: 44px;
        text-align: left;
        max-width: 523px;
        margin-top: 11px;
    }

    .hero__button button {
        margin-top: 35px;
    }

    .hero__backgroud {
        bottom: 52px;
    }
}

@media only screen and (max-width: 1450px) {
    .hero__statistics {
        bottom: 25px;
        height: 83px;
    }

    .hero__statistics__element-number {
        font-size: 30px;
        line-height: 30px;
    }

    .hero__statistics__element span {
        font-size: 26px;
        margin-left: 2px;
        line-height: 26px;
    }

    .hero__statstics__element_desc {
        font-size: 16px;
        line-height: 21px;
    }

    .header__logo {
        width: 80px;
        height: 80px;
        top: 18px;
    }
}

@media only screen and (max-width: 1380px) {}